/.idea/
/services/*/target/
/**/*.iml
/.buid-output/
/.m2-cache/
/service-cadastro-builder.log
/services/cadastro/kubernetes/postgresql-postgres-secret.yaml
/build/.buid-output/
/build/.m2-cache/
/services/cadastro/pom.xml.versionsBackup
/services/cadastro/versao.txt
