/.idea/
/services/cadastro/cadastro.iml
/services/gateway/gateway.iml
/services/motor-pagamento/motor-pagamento.iml
/services/operacao-pagamento/operacao-pagamento.iml
/services/pagamento/pagamento.iml
