/.idea/
/services/*/target/
/**/*.iml
/.buid-output/
/.m2-cache/
/service-cadastro-builder.log
/services/cadastro/kubernetes/postgresql-postgres-secret.yaml
/**/.buid-output/
/**/.m2-cache/
/**/pom.xml.versionsBackup
/services/cadastro/versao.txt
/services/motor-pagamento/versao.txt
/services/operacao-pagamento/versao.txt
/services/pagamento/versao.txt
/services/gateway/versao.txt
